@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body,h1,h2,h3,h4,h5,h6,p,span {
    font-family: 'PT Sans', sans-serif;
}

nav {
    background-color: transparent;
}

.clear {
    clear: both;
}

.no-margin {
    margin: 0;
}

.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inspire-section {
    background-color: #fcdb00;
}

.inspire-banner {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
}

nav {
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-logo {
    object-fit: contain;
    margin-left: 10px;
}

.logo-container {
    position: relative;
    float: left;
}

.logo-container span {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.67;
    text-align: left;
    color: #010101;
    vertical-align: middle;
    margin-left: 5px;
}

.nav-items {
    float: right;
}

.nav-items ul {
    list-style-type: none;
    display: inline-block;
}

.nav-items li {
    font-family: 'HelveticaNeue';
    display: inline-block;
    margin-right: 72px;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.91;
    text-align: left;
    vertical-align: middle;
    color: #010101;
}
ul li:last-child{
  margin: 0;
}
.nav-items a {
    color: #010101;
}

.container-inspire-text {
    padding-top: 15%;
    padding-right: 10%;
}

.container-inspire-text h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #010101;
    margin-bottom: 20px;
}

.container-inspire-text h4 {
    font-size: 20px;
    text-align: left;
    color: #313841;
}

.container-inspire-text p {
    font-size: 16px;
    text-align: left;
    color: #555555;
}

.device-image {
    background-size: cover;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    float: right;
}

.container-inspire-text i {
    margin-right: 5%;
    margin-top: 10px;
}

.container-features {
    padding-top: 10%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.container-features h2 {
    font-size: 32px;
    font-weight: bold;
}

.container-features p {
    font-size: 20px;
}

.feature-item-text {
    width: 80%;
}

.feature-item-text h2 {
    font-size: 22px;
}

.feature-item {
    padding-top: 15%;
}

.container-feature-items {
    padding-bottom: 10%;
}

.section-footer {
    background-color: #010101;
}

.container-footer {
    padding-top: 5%;
    padding-bottom: 10%;
    width: 40%;
    margin: 0 auto;
}

.footer-text h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fcdb00;
}

.footer-text p {
    font-size: 20px;
    text-align: center;
    color: #898989;
    padding-bottom: 15px;
}
.contact-form{
  padding-bottom: 10%;
  width: 90%;
  margin: 0;
}
.contact-form input {
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffffff;
}

.contact-form button {
    background-color: #fcdb00;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor:pointer
}
.social-media{
  text-align: center;
  color: #fcdb00;
}
.social-media i{
  margin-right: 20px;
  cursor:pointer
}
.social-media i:last-child{
  margin: 0;
}

@media only screen and (max-width: 1025px) {
  .device-image{
    padding-left: 0;
    padding-right: 0;
    display:block;
    margin:0 auto;
    float: none;
  }
  .nav-items{
    display: block;
    margin: 0 auto;
  }
  .container-inspire-text{
    padding: 0;
  }
  nav{
    padding-bottom: 0;
  }
  .nav-items{
    margin-top: 20px;
    margin-bottom: 10%;
    float: none;
    text-align: center;
  }
  .logo-container{
    float: none;
    text-align: center;
  }
  .container-feature-items{
    padding-left: 10%;
  }
  .contact-form input, .contact-form button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .contact-form{
    width: 100%;
  }
  .feature-item{
    padding-top: 5%;

  }
  .container-footer{
    width: 60%;
  }
}
